.footer
  .footer__box
    .footer__box__text-1
      スマホでかんたんフリマアプリ
    .footer__box__text-2
      今すぐ無料ダウンロード
      .footer__box__text__image
        = image_tag("app-store-.svg",size: "180x54")
        = image_tag("google-play-.svg", size: "180x54")
     