%ul
  -if item.bookmark_by?(current_user)
    %li.option-left
      = link_to icon('far', 'star'), item_bookmarks_path(item.id), method: :delete
      お気に入り
      = @item.bookmarks.ids.length
  - else
    %li.option-left
      = link_to icon('fas', 'star'), item_bookmarks_path(item.id), method: :post
      お気に入り
      = @item.bookmarks.ids.length