!!!
%html


  %main.single-main
    %section.l-single-container-buy-item-container
      %h2.l-single-head-buy-head
        購入内容の確認
      %section.buy-content-buy-item
        .buy-content-inner
          .buy-item-box
            %h3.buy-item-image
              写真
            .buy-item-detail
              %p.buy-item-name
                商品名
              %p.buy-price-ja-bold
                %span
                  ¥1000
                %span.item-shipping-fee
                  （税込）送料込み
      %section.buy-content-buy-item-bottom
        .buy-content-inner-b
          %form.buy-form
            %ul.buy-price-table
              %li.buy-price-row-buy-you-pay-bold
                .price-label
                  支払い金額
                .buy-price-cell
                  ¥1000
            %section.buy-content-buy-user-info
              .buy-content-inner
                %h3
                  支払い方法
                  %p.buy-user-info-text
                    %span.buy-register-text
                      登録してください
            %section.buy-content-buy-user-info-b
              .buy-content-inner-b
                .clearfix
                  %h3.l-left
                    配送先
                  %a.l-right-buy-user-info-fix
                    %span
                      変更する
                %address.buy-user-info-text
                  %p
                    〒123-4567
                    %br
                      大阪府。。。
                    %br
                      太郎
              %section.buy-content-buy-user-info
                %button.btn-default-btn-red-bold
                  購入する