

  = render "tops/top"

  %main
    %section.item-box-container-l-single-container
      %h1.itme-name
        商品名
      .item-main-content-clearfix
        .item-photo
          イメージ図
        %table.item-detail-table
          %tbody
            %tr
              %th
                出品者
              %td
                出品者ネーム
            %tr
              %th
                カテゴリ
              %td
                カテゴリー場所
            %tr
              %th
                ブランド
              %td
                ブランドネーム
            %tr
              %th
                商品の状態
              %td
                新品、未使用
            %tr
              %th
                配送料の負担
              %td
                送料込み(出品者負担)
            %tr
              %th
                配送の方法
              %td
                普通郵便(定形、定形外)
            %tr
              %th
                配送元地域
              %td
                兵庫県
            %tr
              %th
                発送日の目安
              %td
                2~3日で発送
              
      .item-price-box-text-center
        %span.item-price-bold
          ¥1000
        %span.item-tax
          (税込)
        %span.item-shipping-fee
          送料込み
      %a.item-buy-btn
        =loot_to "購入画面に進む", root_path
      .item-description-f14
        【新品ハンドメイド ソイキャンドル  内容量75g】
        ソイワックス、ラベンダーとシダーウッドのエッセンシャルオイル、
        精油のみを使用した100%天然由来のキャンドルです。
    .item-detail-message
      .message-container
        .message-content
          %ul.message-items
            %li.clearfix
              .message-body
                .message-body-text
                  こんばんは(^-^)ラベンダーと桜の香りとで、２個購入の場合おいくらになりますか？
            %li.clearfix
              .message-body
                .message-body-text
                  2点の割引後の合計価格は¥1450になります。
        .message-content
          %form.message-form
            %p
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea.textarea-default
            %button.message-submit-btn-default-btn-gray
              %span
                コメントする

  = render "tops/footer-image"
  = render "tops/footer"