= link_to "トップページへ戻る", root_path, class: 'buy-content__user-info__submit__button'
= form_with( url: pay_item_buyers_path) do |f|
  = f.submit{type:"submit",class:"buy__centerbox__buyinfo__buybutton__red"}
