.popular{
  background-color: rgb(255, 255, 255);
  width: 100vw;
  &__items{
    font-family: Arial,æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“,YuGothic,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding:56px 150px 30px;
    &__title{
      padding-bottom: 16px;
    }
    &__genre{
      display: flex;
      justify-content: space-between;
      &__box{
        padding: 7px;
        background-color: rgb(239, 239, 239);
        border-radius: 15px;
        width:210px;
        height: 40px;
        font-size: 16px;
        &__text{
          width:200px;
          margin: 0 auto;
          font-size: 16px;
        }
      }
    }
  }
}
.items__category{
  height: 630px;
  width:100vw;
  background-color:#f5f5f5;
  &__1{
    padding:42px 202.5px 100px;
    &__new{
      font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
      justify-content: space-between;
      &__title{
        font-size: 24px;
        font-weight: 600;
      }
      a{
        font-weight: 600;
        font-size: 12px;
        color: rgb(0, 149, 238);
        text-decoration: none;
        float: right;
      }
    }
  }  
}
.items__footer{
  width: 100vw;
  height: 100px;
  background-color: #f5f5f5;
}

