
body{
  background-color: rgb(240, 240, 240);
}

main{
  display: block;
  .l-single-container-buy-item-container{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    h2{
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
    }
    .buy-content-buy-item{
      margin: 0;
      padding: 32px 16px;
      text-align: center;
      border-top: 1px solid #f5f5f5;
      .buy-content-inner{
        max-width: 343px;
        margin: 0 auto;
        .buy-item-box{
          display: flex;
          h3{
            height: 80px;
            width: 80px;
            min-width: 80px;
            // 下記のborderは画像がない為使用
            border:  1px solid #ebebeb;
            // 下記のtext-alignは画像がない為使用
            text-align: center;
          }
          .buy-item-detail{
            margin-left: 16px;
            .buy-item-name{
              font-size: 14px;
              margin: 0;
              padding: 0 0 8px;
              line-height: 1.5;
              text-align: left;
            }
            .buy-price-ja-bold{
              margin: 0;
              text-align: left;
              font-size: 12px;
              font-weight: 600;

            }
          }
        }
      }
    }

    .buy-content-buy-item-bottom{
      padding: 32px 16px 48px;
      text-align: center;
      border-top: 1px solid #f5f5f5;
      .buy-content-inner-b{
        max-width: 343px;
        margin: 0 auto;
        .buy-form{
          display: block;
          .buy-price-table{
            display: table;
            border-collapse: collapse;
            width: 100%;
            margin: 0 0 32px;
            .buy-price-row-buy-you-pay-bold{
              display: table-row;
              font-weight: 600;
              list-style: none;
              .price-label{
                text-align: left;
                font-size: 18px;
                display: table-cell;
                padding: 0;
              }
              .buy-price-cell{
              }
            }
          }
          .buy-content-buy-user-info{
            padding: 32px 0;
            text-align: left;
            border-top: 1px solid #f5f5f5;
            .buy-content-inner{
              max-width: 343px;
              margin: 0 auto;
              h3{
                margin: 0;
                font-size: 14px;
                .buy-user-info-text{
                  text-align: left;
                  margin: 8px 0 0;
                  font-size: 14px;
                  line-height: 1.5;
                  color: #0099e8;
                  cursor: pointer;
                    span{
                      margin: 0 0 0 4px;
                      text-align: left;
                    }
                }
              }
            }
          }

          .buy-content-buy-user-info-b{
            padding: 32px 0;
            text-align: left;
            border-top: 1px solid #f5f5f5;
            .buy-content-inner-b{
              max-width: 343px;
              margin: 0 auto;
              padding: 32px 0;
              display: block;
              .clearfix{
                height: 14px;
                h3{
                  float: left;
                  font-size: 14px;
                }
                span{
                  float: right;
                  color: #0099e8;
                  cursor: pointer;
                  font-size: 14px;
                }
              }
              address{
                text-align: left;
                margin: 8px 0 0;
                font-size: 14px;
                line-height: 1.4;
              }
            }
            .buy-content-buy-user-info{
              text-align: left;
              border-top: 1px solid #f5f5f5;
              padding-bottom: 0;
              .btn-default-btn-red-bold{
                background: #888;
                color: #fff;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                font-weight: 600;
                min-height: 1.5em;
              }
            }
          }

        }
      }
    }
    
  }
}
