
-# = render "items/main"

.single-container
  .single-container__listing-change
    .single-container__listing-change__btn-default
      商品の編集
    .single-container__listing-change__text-select
      or
    .single-container__listing-change__btn-stop
      出品を一旦停止する
    .single-container__listing-change__btn-delete
      - if user_signed_in? && current_user.id == @details.user_id
        = link_to "削除", "/details/#{@details.id}", method: :delete