.sale-form-footer
  .sale-form-footer__list
    %ul
      %li
        = link_to "プライバシーポリシー" ,root_path
      %li 
        = link_to "フリマ利用規約" ,root_path
      %li 
        = link_to "特定商取引に関する表記" ,root_path
  .sale-form-footer__logo
    = link_to image_tag('/assets/logo.png', alt: 'furima', height: '40px', width: '120px', class: 'sale__top__image'),root_path
  %p tech74.n.a_team
